/* Tablet md */

@media screen and (min-width: 700px) {
    .team-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        width: calc(33.333% - 14px);
        margin-bottom: 20px;

    }

    .form-section {
        width: 70%;
        padding-left: 50px; 
    }
    
    .form-section form {
        display: block; 
        margin-left: 0;
        margin-right: auto;
    }
    .card a {
        font-size:14px;
    }
}