* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.py-20 {
    padding: 20px;
}

.bg-blue {
    background-color: rgb(170, 214, 216);
}

h1 {
    color: rgb(91, 77, 77); 
    text-align: center;  
}
body {
    font-family: "Montserrat", sans-serif;
}


.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: white;
  color: rgb(129, 114, 114);   
}

.card-image {
  width: 40%;
}

.card-image img {
  display: block;
  height: 100%;
  object-fit: cover;
}

.card-content {
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}


.team-container {
    display: flex;
    flex-direction: column;
    gap:20px;

}

form {
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  text-align: left;
}

form div {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 6px;
  border: 1px solid rgb(91, 77, 77); 
  border-radius: 5px;
}

button {
  background-color: #6898cc;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}







