* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.py-20 {
    padding: 20px;
}

.bg-blue {
    background-color: rgb(170, 214, 216);
}

h1 {
    color: rgb(91, 77, 77);   
}
body {
    font-family: "Montserrat", sans-serif;
}


.container {
  width: 70%;
  max-width: 600px;
  margin: 0 auto;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: white;
  color: rgb(129, 114, 114);   

  /* debug */
  /* min-height: 150px; */
}

.card-image {
  width: 30%;
}

.card-image img {
  display: block;
  height: 100%;
  object-fit: cover;
}

.card-content {
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.team-container {
    display: flex;
    flex-direction: column;
    gap:20px;

}




