* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.py-20 {
    padding: 20px;
}

.container {
  width: 70%;
  max-width: 600px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: black;
  color: white;

  /* debug */
  /* min-height: 150px; */
}

.card-image {
  width: 30%;
}

.card-image img {
  display: block;
  height: 100%;
  object-fit: cover;
}

.card-content {
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}




